---
layout: default
title: William Kersten
---	

<section class="hero sectionDark is-fullheight-with-navbar">
	<div class="hero-body">
		<div class="container">

			<p class="bodyTerminalHeader">
				JOSH Terminal
			</p>
			<div id="bodyTerminal" class="bodyTerminal">


			<br />
				<span class="terminalUser">user</span><span class="terminalFolder">~</span> ./init

<!-- Has to be left-aligned because html is reading whitespace here. Font is nvscript -->
				<div class="has-text-centered is-size-5">
					Hi, I'm
<div class=" terminalPre">
 ,ggg,      gg      ,gg                                                      ,ggg,        gg                                                            
dP""Y8a     88     ,8P     ,dPYb, ,dPYb,                                    dP""Y8b       dP                                 I8                         
Yb, `88     88     d8'     IP'`Yb IP'`Yb                                    Yb, `88      d8'                                 I8                         
 `"  88     88     88 gg   I8  8I I8  8I  gg                                 `"  88    ,dP'                               88888888                      
     88     88     88 ""   I8  8' I8  8'  ""                                     88aaad8"                                    I8                         
     88     88     88 gg   I8 dP  I8 dP   gg     ,gggg,gg   ,ggg,,ggg,,ggg,      88""""Yb,     ,ggg,    ,gggggg,    ,g,      I8    ,ggg,    ,ggg,,ggg,  
     88     88     88 88   I8dP   I8dP    88    dP"  "Y8I  ,8" "8P" "8P" "8,     88     "8b   i8" "8i   dP""""8I   ,8'8,     I8   i8" "8i  ,8" "8P" "8, 
     Y8    ,88,    8P 88   I8P    I8P     88   i8'    ,8I  I8   8I   8I   8I     88      `8i  I8, ,8I  ,8'    8I  ,8'  Yb   ,I8,  I8, ,8I  I8   8I   8I 
      Yb,,d8""8b,,dP_,88,_,d8b,_ ,d8b,_ _,88,_,d8,   ,d8b,,dP   8I   8I   Yb,    88       Yb, `YbadP' ,dP     Y8,,8'_   8) ,d88b, `YbadP' ,dP   8I   Yb,
       "88"    "88" 8P""Y88P'"Y888P'"Y888P""Y8P"Y8888P"`Y88P'   8I   8I   `Y8    88        Y8888P"Y8888P      `Y8P' "YY8P8P8P""Y8888P"Y8888P'   8I   `Y8
                                                                                                                                                    
            
		
</div>
				<p class="max-width-800px">							
					I'm a student at Austin Peay State University, finishing up a degree in Computer Science and Information Technology 
					with minors in Math and Mobile Development. I go by either William or Suzy, either name works! 
					<br>
					<br>
					I enjoy blogging about a myriad of things, lurking on twitter, 
					writing poetry and prose, and eating alfredo.
					<br>
					<br>
					Scroll down for more!
					</p>
			</div>
		<span class="terminalUser">user</span><span class="terminalFolder">~</span>
</div>

	</div>
	</div>
</section><!-- terminal hero -->


<!-- my toolbox -->
<section class="section hexagons">
		<div class="container">

			<!-- title box for on mobile -->
			<div class="box is-hidden-tablet">
				<h1 class="title has-text-centered ">My Toolbox</h1>
			</div>

			<div class="columns is-multiline is-variable is-1">

				<!-- text for when columns aren't collapsed -->
				<div class="is-size-1-fullhd is-size-2-widescreen is-size-3 is-hidden-mobile has-text-centered toolboxTitle">
					My<br>Tool<br>box

				</div>




				<!-- Each column is the entire left half rows, IE 
					first column half is html5 and css3. Done 
					so that things stack nicely on mobile, where entire
					right half will come down below left half.
				-->
				<div class="column is-half">
					<div class="columns is-variable is-1 is-mobile">
						<div class="column is-2">
						</div>
						<div class="column">
							<img src="/assets/toolbox/html5.svg" />
						</div>
						<div class="column">
							<img src="/assets/toolbox/javascript.svg" />
						</div>


						<div class="column is-2">

						</div>
					</div> <!-- end top row -->

					<div class="columns is-variable is-1 is-mobile">
						<div class="column">
							<img src="/assets/toolbox/css3.svg" />
						</div>
						<div class="column">
							<img src="/assets/toolbox/php.svg" />
						</div>
						<div class="column">
							<img src="/assets/toolbox/git.svg" />
						</div>
					</div><!-- end bottom row -->
				</div> <!-- end left two rows -->


				<!-- Right two rows of hexagons, IE c++, java, android -->
				<div class="column is-half">

					<div class="columns is-variable is-1 is-mobile">
						<!-- hidden on tablet because that's where title text goes -->
						<div class="column is-2">
						</div>

						<div class="column">
							<img src="/assets/toolbox/c++.svg" />
						</div>
						<div class="column">
							<img src="/assets/toolbox/csharp.svg" />
						</div>

						<div class="column is-2">
						</div>
					</div> <!-- end top row -->

					<div class="columns is-variable is-1 is-mobile">
						<div class="column">
							<img src="/assets/toolbox/java.svg" />
						</div>
						<div class="column">
							<img src="/assets/toolbox/android.svg" />
						</div>
						<div class="column">
							<img src="/assets/toolbox/adobe.svg" />
						</div>

					</div> <!-- end bottom row -->
				</div> <!-- end right two rows -->

			</div><!-- end columns display -->
		</div><!-- end container -->
	</section>

<section id="projects" class="section sectionDark">
	<div class="container">
		<div class="columns is-vcentered">

			<h1 class="column is-3 is-size-1 is-size-2-mobile has-text-centered-mobile">
				PRO<br class="is-hidden-mobile">JECTS
			</h1>

			<div class="column is-9 inlineList">
			{% for post in site.posts %}
			{% if post.path contains 'projects' %}
			<div class="project has-text-centered">
				<a href="{{ post.url }}">
					<div class="projectImg">
					<figure class=" image is-square">
						<img class="is-rounded" src="{{ post.image }}">
					</figure></div>
					<h2 class="is-size-3 is-size-4-mobile">{{ post.title }}</h2>
					<p class="is-size-5 is-size-6-mobile">{{ post.flavor }}</p>
				</a>
			</div>
			{% endif %}
			{% endfor %}
			</div>
		</div>
	</div>
</section>

<section id="writing" class="section sectionLight">
	<div class="container">
		<div class="columns is-vcentered">

			<h1 class="column is-3 is-size-1 is-size-2-mobile has-text-centered-mobile">
				WRI<br class="is-hidden-mobile">TING
			</h1>

			<div class="column is-9 inlineList">
			{% for post in site.posts %}
			{% if post.path contains 'writing' %}
			<div class=" writingPiece">
				<a href="{{post.url}}">
					<h2 class="is-size-3">
						{{ post.title }}
					</h2>
					<div>
						<span class="is-size-5 is-size-7-mobile">
							{{ post.words }} words<br>{{post.tags}}
						</span>

						<i class="fas {{post.icon}}"></i>

					</div>
				</a>
			</div>
			{% endif %}
			{% endfor %}


				</div>
		</div>
	</div>
</section>



<section id="blog" class="section sectionDark">
	<div class="container">
		<div class="columns is-vcentered">

			<h1 class="column is-3 is-size-1 has-text-centered-mobile">
				BL<br class="is-hidden-mobile">OG
			</h1>

			<div class="column is-9 inlineList">
			{% for post in site.posts %}
				{% if post.path contains 'blog' %}
			<div class="blogPiece">		
				<a href="{{ post.url }}">
					<h2 class="is-size-3">
						{{ post.title }}
					</h2>
					<div class="crop">
						<img src="{{ post.image }}">

					</div>
				</a>
			</div>
				{% endif %}
			{% endfor %}
			</div>
		</div>
	</div>
</section>






